header{
    float: left;
    border: solid 1px;
    background-color: #424242;
}

header h1{
    text-align: center;
    padding-top: 40px;
    border: solid 1px;
    border-radius: 70%;
    background-color: green;
    width: 200px;
    height: 25px;
    margin: auto;
    padding-bottom: 70px;
}

footer{
    text-align: center;
    color: black;
    margin: auto;
}

img{
    width: 500px;
}

body{
    width: 100%;
    font-size: small;
}

#lista{
    list-style: none;
    color: white;
    padding-top: 15px;
}

#div2{
    background-image: url("Img/Háttér.jpg");
    width: 300px;
    height: 300px;
    padding-top: 50px;
}

#div2 h1{
    padding-bottom: 2.75cm;
}

td img{
    width: 120px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}

h1{
    font-size: 50px;
    height: 2cm;
    text-align: left;
}

h2{
    font-size: 25px;
    padding-right: 5.5cm;
    text-align: left;
    padding-left: 4.5cm;
}

.gyakori{
    font-size: 50px;
    padding-left: 1cm;
}

#korabbi{
    padding-left: 1cm;
}

li{
    text-align: left;
}

p{
    padding-right: 10cm;
    font-size: 25px;
}

.hosszabb{
    text-align: left;
    padding-left: 1cm;
}

.szoveg{
    padding-left: 1cm;
    padding-top: 1cm;
}

.golyo{
    padding-left: 1cm;
}

.db{
    padding-right: 10cm;
    padding-top: 1cm;
}

footer p{
    text-align: left;
}

.hasonlo{
    padding-left: 1cm;
}

.leghosszabb{
    text-align: left;
    padding-left: 1cm;
    font-size: 40px;
}

.szam{
    padding-left: 1cm;
    padding-top: 1cm;
}

.leggyakoribb{
    font-size: 50px;
    padding-left: 1cm;
}

.gyakorikep{
    padding-top: 1cm;
}

.hasonlohet{
    padding-top: 1cm;
    padding-left: 1cm;
}

.összeg{
    font-size: 30px;
    padding-top: 4cm;
    padding-left: 1cm;
}

.legkisebb h1{
    padding-left: 1cm;
}



