header{
    float: left;
    border: solid 1px;
    background-color: #424242;
}

header h1{
    text-align: center;
    padding-top: 40px;
    border: solid 1px;
    border-radius: 70%;
    background-color: green;
    width: 200px;
    height: 25px;
    margin: auto;
    padding-bottom: 70px;
}

footer{
    text-align: center;
}

img{
    width: 500px;
}

body{
    width: 70%;
}

#lista{
    list-style: none;
    color: white;
}

#div2{
    background-image: url("hatter\ \(1\).jpg");
    width: 300px;
    height: 300px;
    padding-top: 50px;
}

td img{
    width: 120px;
}

a{
    color: white;
}

h1{
    font-size: 50px;
    height: 2cm;
    text-align: center;
}

h2{
    font-size: 25px;
    padding-right: 5.5cm;
    text-align: center;
}

.gyakori{
    font-size: 50px;
}

#korabbi{
    padding-right: 2cm;
}

td{
    padding-left: 2cm;
}
li{
    text-align: left;
}
